<div class="container">
    <div class="row mb-2">
        <h1 class="text-center mt-5 mb-5 border-bottom fs-1 text-uppercase pb-5"><strong>Área dos Professores</strong></h1>
        <p class="fs-5 text-muted"><strong>Quantidade de Cursos: {{ qtdTeachers }} </strong></p>
        <div class="button-group">
            <button class="btn btn-dark me-2" (click)="showHideForm()">Add Professor</button>
            <button class="btn btn-dark me-2" (click)="showHideTable()">{{ tableState }}  Table</button>
        </div>
    </div>
    <div class="row" *ngIf="showForm">
        <spa-professores-form></spa-professores-form>
    </div>
    <div class="row" *ngIf="showTable">
        <spa-professores-table [teachers]="teachers"></spa-professores-table>
    </div>
</div>